<%- include ('./partials/header.ejs') %>

<body>
    <%- include ('./partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h1><%= pergunta.title %></h1>
        <p><%= pergunta.description %></p>
        <hr>
        <form action="" method="POST">
            <h3>Responda</h3>
            <label for="">Resposta</label>
            <textarea name="corpo" id="" cols="30" rows="10" class="form-control" placeholder="Digite sua reposta"></textarea>
            <br>
            <button class="btn btn-primary">Resposnder</button>
        </form>
    </div>
</body>
<%- include ('./partials/footer.ejs') %>
